#pause-screen {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 700px;
  padding: 30px;
  background: red;
  color: white;
  opacity: 0.8;
}

#pause-screen > h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

#pause-screen > p {
  margin-top: 5px;
  margin-bottom: 5px;
}

#pause-screen > h3 {
  font-size: 20px;
  margin-top: 10px;
}

.tooltip {
  position: absolute;
  bottom: 12px;
  right: 12px;
  max-width: 400px;
  padding: 12px;
  background: black;
  opacity: 0.85;
  border-radius: 3px;
  font-size: 16px;
  font-family: "Courier New", sans-serif;
}

#canvas {
  background-color: #fdfdfd;
}